* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
 
    /* height: calc(100% - 100px) */
    height: 100vh;
    
}

span{
    cursor: pointer;
    text-underline-offset: 5px;
}


nav{
    background-color: rgba(13, 30, 41, 0.9);
    height: 100px;
    width: 100%;

}

label.logo{
    color: rgba(210, 226, 235, 0.9);
    font-weight: 700;
    margin: 0 20px;
    line-height: 100px;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    
    display: inline-block;
    line-height: 100px;
    margin-right: 20px;
    
    
}

/* Apply styles to the active menu item when clicked */
nav ul li a {
    color: rgba(210, 226, 235, 0.9);
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 5px;

    &:hover{
        padding: 10px;
        box-shadow: 5px 5px 10px rgba(225, 226, 231, 0.9);
        background-color: rgba(226, 141, 12, 0.671);
        transition: all .5s;
        border-radius: 5px;
    }

    &:active{
        background-color: rgba(29, 27, 25, 0.671)
    }
}

/* Style the menu icon  */
#menu-icon{
    color: white;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
    float: right;
    line-height: 100px;  
    margin: 0 20px;
    display: none;
}

/* Hide checkbox icon */
#menu-toggle{
    display: none;
}
      
@media screen and (max-width: 700px) {

    #menu-icon{
        display: block;
    }

    label.logo{
        line-height: 2; 
        margin: 5px 0;
        display: none;
    }
    
      ul {
        margin: 0 auto;
        background-color: rgba(8, 78, 99, 0.993);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 100px;
        left: -100%;
        transition: all .5s;
        
     }
    
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;  
    }

    

     nav ul li {
        line-height: 1; /* Adjust line-height for the list items */
        display: block;
        margin: 5vh auto;
            
    } 

    nav ul li a {
        font-size: 20px;
        color: rgba(230, 233, 219, 0.9);
        margin-right: 20px;
         
    }
    
}

#menu-toggle:checked ~ ul {
    left: 0;
}

/* Customize bootstrap container */

.container-fluid{
    background-color: rgb(81, 106, 116);
    margin-top: 16px
}


.no-padding{
    padding-left: 0;
    padding-right: 0;
}

h1{
    color: rgb(72, 97, 13)  ;
    font-weight: 900;
}


.button-container {
    margin-bottom: 100px; /* Adjust the value as needed */
}

.button-section{
    margin-bottom: 20px;
}

P{
    color: rgba(13, 30, 41, 0.9);;
}

.style2{
    margin-left: -8%;
}

.style2 li a{
    color: rgba(210, 226, 235, 0.9);
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover{
        color: rgb(82, 7, 97);
        padding:  10px;
        text-decoration: underline; 
        text-underline-offset: 5px;
        transition: all .5s;
        font-weight: 600;
    }
}


h3{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-transform: uppercase;
    background-color: rgba(13, 30, 41, 0.3);
    
}

.bg-secondary p{
    color: antiquewhite;
}

footer{
   
    background-image: url("https://fastly.picsum.photos/id/43/1280/831.jpg?hmac=glK-rQ0ppFClW-lvjk9FqEWKog07XkOxJf6Xg_cU9LI");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(7px);
    width: 100%;
   
}
footer .menu li a{
    text-decoration: none;

}

footer .menu li {
    text-decoration: underline;
    text-underline-offset: 5px;

   
}

.footer-links li a:hover{
        color: rgba(97, 15, 117, 0.9);
        font-weight: 600;
}


.footer-button{
    margin-bottom: 20px;
}

.right-aside{
        position: absolute;
        margin: -250px;
        right: 420px;
        top:  560px;
       
}

dt{
    text-transform: uppercase;
    color: rgb(10, 10, 10);
}

.copy-right ul li {
    display: inline-block;
    color: rgba(20, 21, 22, 0.9);
    font-weight: 600;
   
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


